:root {
  --cor0: #8C8C8B;
  --cor1: #737272;
  --cor2: #F2F2F2;
  --cor3: #D9D9D9;
  --cor4: #BFBFBF;
}

/* Rolagem suave */
html {
  scroll-behavior: smooth;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -01; /* To place particles behind other content */
  background-color: #000000; /* Example dark background */
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header fixo */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
  z-index: 10;
}

header a {
    border-bottom: 1px groove white;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

header a:hover {
  background: rgba(255,255,255,0.1);
}

/* Seções ocupando tela inteira */
section {
  height: 100vh; /* ocupa a tela inteira */
  display: flex;
  flex-direction: column;
  scroll-margin-top: 70px; /* evita que o header fixe sobre o conteúdo */
}

#home {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-content {
    display: flex;
    flex-direction: row; /* Alinha o texto e a imagem lado a lado */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    gap: 5rem; /* Adiciona um espaço entre o texto e a imagem */
    width: 80%; /* Define uma largura máxima para o conteúdo */
    max-width: 1200px;
}

.text-group {
    text-align: left; /* Alinha o texto para a esquerda dentro do seu próprio contêiner */
    max-width: 50%; /* Limita a largura do texto para evitar que ele estique demais */
}

/* Estilo para a imagem */
.img-about {
  max-width: 400px; /* Redimensiona a imagem para não ser muito grande */
  height: auto;
}

#about {
  color: white;
}

#contact {
  color: white;
}

#eu{
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-left: 110px;
  
}

.text-group{
  min-width: 420px !important;
}


#sou {
  padding-top: 15px;
}

#sou span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: .7px #F2F2F2;
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

#sou span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid #4d4d4b;
  color: var(--cor1);
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  10%,100% {
    width: 0;
  }
  30%,
  90% {
    width: 100%;
  }
}

@keyframes display-text {
  25%, 100% {
    display: none;
  }
}

section h4 {
    font-size: 1rem;
    line-height: 50px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

section h3 {
  font-size: 3.4rem;
  text-align: center;
  color: purple;
    text-shadow:
    0 0 2px #4d0863,
    0 0 1px #84099c,
    0 0 3px #94288f,
    0 0 1px #7f0583,
    0 0 3px #3a0a86;
}

imgs {

}

section p {
  font-size: 2rem;
  margin-top: 15px;
  max-width: 600px;
}

.glow-text {
  color: #F2F2F2;
  text-shadow:
    0 0 5px #F2F2F2,
    0 0 10px #D9D9D9,
    0 0 15px #BFBFBF,
    0 0 20px #8C8C8B,
    0 0 30px #737272;

  /* Adiciona a transição para uma animação suave */
  transition: text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
  cursor: pointer; /* Muda o cursor para indicar interatividade */
}

.glow-text:hover {
  color: #fff; /* Aumenta o brilho da cor do texto */
  text-shadow:
    0 0 10px #fff,  /* Aumenta o brilho e o espalhamento */
    0 0 20px #F2F2F2,
    0 0 30px #D9D9D9,
    0 0 40px #BFBFBF,
    0 0 50px #8C8C8B;
}

header a:hover i {
    animation: fa-bounce 2s infinite; /* Ativa a animação */
    --fa-bounce-height: -0.2em; /* Altura do pulo */
    --fa-bounce-jump-scale-x: 1;
    --fa-bounce-jump-scale-y: 1;
    --fa-bounce-land-scale-x: 1.2; /* Efeito "squish" na horizontal */
    --fa-bounce-land-scale-y: 0.8; /* Efeito "squish" na vertical */
    --fa-bounce-rebound: 5px; /* Rebound */

}

section i {
        animation: fa-bounce 2s infinite; /* Ativa a animação */
    --fa-bounce-height: -0.2em; /* Altura do pulo */
    --fa-bounce-jump-scale-x: 1;
    --fa-bounce-jump-scale-y: 1;
    --fa-bounce-land-scale-x: 1.2; /* Efeito "squish" na horizontal */
    --fa-bounce-land-scale-y: 0.8; /* Efeito "squish" na vertical */
    --fa-bounce-rebound: 5px; /* Rebound */
}

header a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Esta propriedade posiciona a linha 5px abaixo do link */
    width: 100%; /* Largura inicial zero */
    height: 2px; /* Altura do sublinhado */
    background-color: white; /* Cor da linha */
    transition: width 0.3s ease-out; /* Animação suave */
}

header a:hover::after {
    width: 100%; /* Aumenta a largura para 100% no hover */
}
